body {
    background-color: rgb(88, 24, 69  );
    font-family: 'Montserrat', sans-serif;
    color: rgb(37, 34, 37);
}
#buyAPet {
    padding: 0;
    margin: 0;
    list-style: none;
  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }
  
  .card {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid rgb(65, 58, 66);
    font-family: 'Montserrat', sans-serif;
    color: rgb(37, 34, 37);
    text-align: center;
    border-radius: 5%;
    background-color: rgb(148, 88, 111);
  }

  .card:hover {
    transform: scale(1.1);
}
  h2 {
    text-decoration: underline;

  }
  h1 {
    text-align: start;

    text-anchor: end;
    padding: 20px;
    position: relative;
    z-index: 2;
    color: rgb(207, 113, 149);
  }
  
  .card img {
    height: 200px;
    width: 200px;
    border-radius: 5%;
  }
  
  .button {
display: inline-flex;
font-family: inherit;
text-decoration: none;
text-align: center;
padding: 5px;
margin: auto; 
border: 10px;
background-color:rgb(168, 48, 94);
border-radius: 5px;
border: 1px solid rgb(13, 13, 14);
font-size: 15px;
  }
  .button:hover {
      transform: scale(1.1);
  }

  .buttons {
    text-align: center;
}